header {
    font-family: "Comic Sans MS", cursive, "Lucida Console", Monaco, monospace;
    font-size: smaller;
    font-weight: bold;
    background-color: #1C7BC4;
}

nav {
    display: flex;
    align-content: center;
    display: block;
    padding: 1em;
}

footer {
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS", cursive, "Lucida Console", Monaco, monospace;
    font-size: smaller;
    font-weight: normal;
    background-color:#1C7BC4;
}

#registration_form, #login_form, #note_form {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 10% solid rgb(126, 121, 121);
    border-radius: 10%;
    margin: auto;
    text-align: center;
}

#registration_form, #login_form, #note_form, label {

    display: block;
}

.registration_button, .login_button, .add_text_button {
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.registration_container, .login_container {
    display: flex;
    justify-content:center;
    align-content:center;
    border: 2px solid rgba(141, 136, 136, .589);
    border-radius: 10px;

}

h1, h4 {
    display: flex;
    justify-content: center;
}

img {
    display:block;
    margin:auto;
    width: 5%;
}

#registration_form input, #login_form input, #note_form input {
    border-radius: 10px;
    border: 2px solid rgba(141, 136, 136, 0.589);
    margin: 2% 0;
    padding: 4px;
    width: auto;

}

#registration_form input:hover, #login_form input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .20);

}

input[type="submit"] {
    font-family: "Comic Sans MS", cursive, "Lucida Console", Monaco, monospace;

}

main {
    margin: 5% 35% 20%;
}

nav li {
    list-style: none;
}

a {
    text-decoration: none;
}
